.App {
  text-align: center;
  font-family: 'Gayathri', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
}

.Pink-Box {
  height: 15px;
  background-color: #f7d5db;
  width: 100%
}

.Main-Headline {
  font-size: 3rem;
}
.Sub-Title {
  font-size: 1.5rem;
  /* max-width: 40%; */
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.Footer {
  height: 15px;
  background-color: #f7d5db;
  width: 100%
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
